body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1, h3 {
    margin: 10px 0;
}

.myContainer {
    margin: auto;
    width: 1210px;
}

form {
    margin: 10px auto;
    text-align: center;
}

.myContainer {
    margin: auto;
    width: 1210px;
}

#tree_div, #forcegraph_div {
    float: left;
    width: 600px;
    padding: 10px;
}

#forcegraph_div {
    float: right;
}

svg {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}



.highlighted {
    stroke: red;
    stroke-width: 3px;
}
